*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #171717;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EDEDED;
    padding: 1.3rem;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 2.7rem;
    padding: 0.8rem;
    color: #EDEDED;
}

button:hover, button:active{
    color: #DA0037;
    transition: all 0.3s ease;
}